.secondary aside {
    ul {
        display: flex;
        flex-wrap:wrap;
        }
         li {
            margin: 6px;
        }
        
           li img {
            width: 80px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid $dk-yellow;
            transition: all 0.2s linear;
        &:hover {
        transform: scale(1.1);
        box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    }
    }
    }
    
    figure {
    position: relative;
    z-index: 5;
    figcaption {
        padding: 6px;
        background: rgba(255,255,255,0.7);
        position: absolute;
        bottom: 0;
    }
}  